.x-page {
  background-color: #f4f4f4;
  height: 100vh;
}

.x-block{
  margin-bottom: 20px;
  width: 100vw;
  background-color: white;
}

.x-card{
  padding: 20px;
  margin-bottom: 20px;
  width: 100vw;
  box-sizing: border-box;
  background-color: white;
}